{% extends "homepage/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
        
            <div class="">
                <h1>About US</h1>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="content-section bg-dark rounded">
            <h3 class="text-white">Sidebar</h3><hr>   
            <p class='text-white'>Checkout the links you may need
                <ul class="list-group">
                <li class="list-group-item list-group-item-light bg-secondary text-white">Latest Events</li>
                <li class="list-group-item list-group-item-light bg-secondary text-white">Calls for registeration</li>
                <li class="list-group-item list-group-item-light bg-secondary text-white">etc</li>
                </ul>
            </p>
            </div>
        </div>
    </div>
{% endblock content %}